{% assign experiences = site.data.[page.lang].data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">
        {% if experience.link %}
          <a class="dont-print" href="{{ experience.link }}" target="_blank">
            {% if site.data.common.sidebar.company_logo %}
              <img class="logo" src="{{ site.baseurl }}/assets/images/company-logo/{{ experience.logo }}" alt="{{ experience.company }}" /> &nbsp;
            {% endif %}
            {{ experience.company }}
          </a>
        {% else %}
          {% if site.data.common.sidebar.company_logo %}
            <img class="logo" src="{{ site.baseurl }}/assets/images/company-logo/{{ experience.logo }}" alt="{{ experience.company }}" /> &nbsp;
          {% endif %}
          {{ experience.company }}
        {% endif %}
        {% if experience.city %}
          <span>
            <i class="fas fa-map-pin"></i>
            <a class="dont-print" href="https://www.google.com/maps/place/{{ experience.city }}" target="_blank">
              {{ experience.city }}
            </a>
          </span>
          
        {% endif %}
    </div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

