{% assign interests = site.data.[page.lang].data.sidebar.interests %}
{% assign interestsTitle = site.data.[page.lang].data.sidebar.interestsTitle %}
{% assign interestPhotography = site.data.[page.lang].data.sidebar.interestPhotography %}
{% assign slideshow = site.data.common.slideshow %}

{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    {{ interestsTitle }}
  </h2>

  <ul class="list-unstyled interests-list">

    {% if interestPhotography %}
      <li>
        <p class="slideshow">  
          {% for pix in slideshow %}
            {% if forloop.first %}
              <a href="{{ site.baseurl }}/uploads/album/{{ pix.image }}" title="{{ interestPhotography }}"><i class="fa fa-camera" aria-hidden="true"></i> {{ interestPhotography }}</a>
            {% else %}
              <a href="{{ site.baseurl }}/uploads/album/{{ pix.image }}"></a>
            {% endif %}
          {% endfor %}
        </p>
      </li>
    {% endif %}
    
    {% for interest in interests %}

      {% if interest.link %}
        <li>
          <a href="{{ interest.link }}">
            {% if interest.font %}
              <i class="fa {{ interest.font }}" aria-hidden="true"></i>
            {% endif %}
            {{ interest.item }}
          </a>
         </li>
      {% else %}
        <li>
          {% if interest.font %}
              <i class="fa {{ interest.font }}" aria-hidden="true"></i>
          {% endif %}
          {{ interest.item }}
        </li>
      {% endif %}

    {% endfor %}   
  </ul>

</div><!--//interests-->
{% endif %}
