{% assign sidebar = site.data.common.sidebar %}
{% assign sidebarTagLine = site.data.[page.lang].data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.firstname %}
      <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.firstname %}
      <h1 class="name">
        <div class="firstname">{{ sidebar.firstname }}</div> 
        <div class="lastname">{{ sidebar.lastname }}</div>
      </h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebarTagLine.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
